body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s;
  width: 100%;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 200px; /* Fixed height for image */
  object-fit: cover; /* Ensure the image covers the container */
}

.card h5 {
  font-size: 1.2em;
  color: #333;
}

.card p {
  color: #555;
  font-size: 1em;
}

.card .price {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.product-detail {
  text-align: center;
}

.product-detail img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.product-detail p {
  color: #555;
  font-size: 1.1em;
}
